@use "../../styles/variables" as *;

.pageTransitionWrapper {
  position: relative;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Піксельна сітка поверх усього */
.pixelOverlay {
  position: fixed;
  inset: 0;
  z-index: 20;
  pointer-events: none;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  opacity: 0;
}

.pixelSquare {
  background-color: #ffffff; // або твій базовий фон
}
